@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

$backgroundColor: #F5F5F1;
$teal: #3EAAC3;
$lightGray: #B2B2B2;
$limeGreen: #7BBE4C;
$roboto: 'Roboto', sans-serif;
$red: #F11439;
$orange: #FD7F23;
$yellow: #F2CB30;
$green: #20C024;
$blue: #26CCF1;
$purple: #A527EF;


@mixin littleBoxes($height, $width, $color, $border){height: $height; width: $width; background-color: $color; border: $border};

.outerContainer {
  width: 1024px;
  background-color: #F5F5F1;
  margin: 0 auto;

}

body {
  background-color: $backgroundColor;
}

header {
  background-color: white;

  .headerContent {
    height: 80px;

  }

  .headerLeft {
    float: left;
    height: 80px;

  }

  .headerRight {
    float: right;
    margin-top: 25px;
    margin-right: 50px;
  }


  ul {
    list-style: none;
    display: -webkit-inline-box;
    margin-top: -10px;

  .logo {
    width: 100px;
    margin-top: 23px;
  }

  form {
    margin-top: 40px;

    input {
      width: 300px;
      height: 33px;
      border-radius: 5px;

    }

    .search {
      background-color: $teal;
      color: white;
      height: 33px;
      width: 82px;
      border-radius: 5px;

      }
    }

  .browse {
    margin-top: 40px;
    color: $lightGray;
    background-color: white;
    margin-left: 20px;
    height: 33px;
    width: 82px;
    border-radius: 5px;

    //@include triangle (20px, gray, down);
    }



   img {
    width: 30px;
    margin: 10px;
    // border-right: 1px solid gray;
   }

  }
}



  .aboveSection {
    height: 60px;
    font-size: 12px;
    overflow: hidden;
    @include outer-container();
    }


  .leftText {
    @include span-columns(3);
    height: 60px;
    }

  .middleAndRight {
    @include span-columns(9);
    height: 60px;

    .middleText {

    }

    .rightText {

    }
  }

section {
  @include outer-container();
  margin-top: 0px ;





  .sidebar {
  @include span-columns(3);


      .categories {
        height: 335px;
        background-color: white;
        margin-bottom: 50px;
        font-size: 14px;
        line-height: 1.7em;
        border: 1px solid $lightGray;
        padding: 12px;

        span {
          margin-left: 20px;

        }

        ul {
          list-style: none;

        }

        li a {
          list-style: none;
          color: $teal;
          text-decoration: none;
          // line-height: 1.5em;

        }

      }

      .refine {
        height: 729px;
        background-color: white;
        font-size: 14px;
        border: 1px solid $lightGray;

        .itemType {
          padding: 12px;
        }

        .itemType span {
          display: block;
        }

        .itemType ul {
          list-style: none;
          border-bottom: 1px solid gray;
          padding-bottom: 40px;
          line-height: 1.7em;

          input .radio:checked {
            background-color:white;
            color: $teal;
          }

          label {
            color: $teal;
            }
        }

        .price {
          border-bottom: 1px solid $lightGray;
          padding: 12px;
          padding-bottom: 40px;


        }

        .price span {
          display: block;

        }

        .price label {
          padding: 15px;
          border: 1px solid $lightGray;
          color: $lightGray;
          border-radius: 5px;


          .arrow {
            padding: 8px;
          }
        }
      .filterByColor {

        border-bottom: 1px solid $lightGray;
        padding: 12px;

        span {
          width: 100%;
          display: block;
          margin-bottom: 15px;
        }

          .red {
            @include littleBoxes(20px, 20px, $red, 1px solid $lightGray);
            border-radius: 5px;
            margin: 0;
            display: inline-block;
          }

          .orange {

            @include littleBoxes(20px, 20px, $orange, 1px solid $lightGray);
            border-radius: 5px;
            margin: 0;
            display: inline-block;

          }

          .yellow {
            @include littleBoxes(20px, 20px, $yellow, 1px solid $lightGray);
            border-radius: 5px;
            display: inline-block;

          }

          .green {
            @include littleBoxes(20px, 20px, $green, 1px solid $lightGray);
            border-radius: 5px;
            display: inline-block;

          }

          .blue {
            @include littleBoxes(20px, 20px, $blue, 1px solid $lightGray);
            border-radius: 5px;
            display: inline-block;

          }

          .purple {
            @include littleBoxes(20px, 20px, $purple, 1px solid $lightGray);
            border-radius: 5px;
            display: inline-block;

          }

          .black {
            @include littleBoxes(20px, 20px, black, 1px solid $lightGray);
            border-radius: 5px;
            display: inline-block;

          }

          .white {
            @include littleBoxes(20px, 20px, white, 1px solid $lightGray);
            border-radius: 5px;
            display: inline-block;

          }


      }

      .orderingOptions {
        padding: 12px;
        border-bottom: 1px solid $lightGray;
      }

      .orderingOptions ul {
        list-style: none;
      }

      .orderingOptions ul li {
        line-height: 1.5em;
      }

      .shopLocation {
        padding: 12px;
        border-bottom: 1px solid $lightGray;
      }

      .shopLocation ul {
        list-style: none;
      }

      .shopLocation ul li {
        line-height: 1.5em;
      }

      .shipTo {
        padding: 12px;

      }

      .shipTo span {

      }

      .shipTo select {
        width: 200px;
        margin-top: 15px;
      }

      }
  }




  .content {
    @include span-columns(9);
    font-size: 12px;

    img {
      width: 251px;
    }

    .resultsTitle {
      padding-left: 12px;
      white-space: nowrap;
      margin-bottom: 10px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: $roboto;

    }

    .resultsShop {
      display: inline;
      color: $lightGray;
      margin-left: 12px;
    }

    .resultsPrice {
      display: inline;
      color: $limeGreen;
    }

    .resultsCurrencyCode {
      display: inline;
      color: $limeGreen;


    }


    ul {
      margin: 0 auto;
      padding: 0;
    }

    li {
      list-style: none;
      height: 260px;
      border: 1px solid $lightGray;
      background-color: white;
      margin-bottom: 25px;
      @include span-columns(3 of 9);
      @include omega(3n);





      }

  }

}


