html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.outerContainer {
  width: 100%;
  background-color: #F5F5F1; }

header {
  height: 80px;
  background-color: white; }

header ul {
  list-style: none;
  display: -webkit-inline-box; }

header ul .logo {
  width: 100px;
  margin-top: 23px; }

header ul form button {
  background-color: #3EAAC3;
  color: white; }

header ul button {
  margin-top: 40px;
  color: gray;
  background-color: white; }

header ul img {
  width: 30px;
  margin: 10px; }

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

section::after {
  clear: both;
  content: "";
  display: table; }

section .sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }

section .sidebar:last-child {
  margin-right: 0; }

section .sidebar .categories {
  height: 335px;
  background-color: white;
  margin-bottom: 50px; }

section .sidebar .categories ul {
  list-style: none; }

section .sidebar .categories li a {
  list-style: none;
  color: #3EAAC3;
  text-decoration: none;
  line-height: 1.5em; }

section .sidebar .refine {
  height: 680px;
  background-color: white; }

section .content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }

section .content:last-child {
  margin-right: 0; }

section .content ul {
  margin: 0 auto;
  padding: 0; }

section .content li {
  list-style: none;
  height: 200px;
  background-color: white;
  margin-bottom: 25px;
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 31.22104%; }

section .content li:last-child {
  margin-right: 0; }

section .content li:nth-child(3n) {
  margin-right: 0; }

section .content li:nth-child(3n+1) {
  clear: left; }
