@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

$backgroundColor: #F5F5F1;
$teal: #3EAAC3;

.outerContainer {
  width: 100%;
  background-color: $backgroundColor;
}

header {
  height: 80px;
  background-color: white;


  ul {
    list-style: none;
    display: -webkit-inline-box;

  .logo {
    width: 100px;
    margin-top: 23px;
  }

  form {

    button {
      background-color: $teal;
      color: white;
      }
    }

  button {
    margin-top: 40px;
    color: gray;
    background-color: white;
    }



   img {
    width: 30px;
    margin: 10px;
    // border-right: 1px solid gray;
   }

  }
}

section {
  @include outer-container();
  margin-top: 50px ;




  .sidebar {
  @include span-columns(3);


      .categories {
        height: 335px;
        background-color: white;
        margin-bottom: 50px;

        ul {
          list-style: none;

        }

        li a {
          list-style: none;
          color: $teal;
          text-decoration: none;
          line-height: 1.5em;

        }

      }

      .refine {
        height: 680px;
        background-color: white;
      }
  }
  .content {
    @include span-columns(9);

    ul {
      margin: 0 auto;
      padding: 0;
    }

    li {
      list-style: none;
      height: 200px;
      // width: 200px;
      background-color: white;
      margin-bottom: 25px;
      @include span-columns(3 of 9);
      @include omega(3n);




      }

  }

}


